<!doctype html>
<html class="no-js"  lang="en">

	<head>
		<!-- META DATA -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

		<!-- TITLE OF SITE -->
		<title><%= title %></title>

		<!-- favicon img -->
		<link rel="shortcut icon" type="image/icon" href="/images/logo/favicon.png"/>

		<!--font-awesome.min.css-->
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />

		<!--animate.css-->
		<link rel="stylesheet" href="/stylesheets/animate.css" />

		<!--hover.css-->
		<link rel="stylesheet" href="/stylesheets/hover-min.css">

		<!--datepicker.css-->
		<link rel="stylesheet"  href="/stylesheets/datepicker.css" >

		<!--owl.carousel.css-->
        <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
		<link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css"/>

		<!-- range css-->
        <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" />

		<!--bootstrap.min.css-->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

		<!-- bootsnav -->
		<link rel="stylesheet" href="/stylesheets/bootsnav.css"/>

		<!--style.css-->
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<!--responsive.css-->
		<link rel="stylesheet" href="/stylesheets/responsive.css" />

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="/">
									tour<span>Nest</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a href="#home">Home</a></li>
										<li class="smooth-menu"><a href="#gallery">Tin tức</a></li>
										<li>
											<button class="book-btn"><a href="/login/signin">Đăng nhập</a>
											</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		
		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										<%= title2 %>
									</h2>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
								<!-- Tab panes -->

							</div><!--/.desc-tabs-->
        				</div><!--/.single-travel-box-->
        			</div><!--/.col-->
        		</div><!--/.row-->
        	</div><!--/.container-->

        </section><!--/.travel-box-->

        <!--service start-->
		<div id="container">
			<section id="gallery" class="gallery">
				<div class="container">
					<a href="/" style="font-size:20px">Quay lại</a>
					<div class="gallery-details">
						<div class="gallary-header text-center">
							<h2>
								Dừng, dời nhiều lễ hội vì ảnh hưởng của dịch Covid-19
							</h2>
						</div><!--/.gallery-header-->

                    </div><!--/.gallery-details-->
                    <div style="text-align: justify;">
                        <b>Dừng hoặc dời nhiều lễ hội ở Việt Nam sang thời điểm khác như: Lễ hội Áo dài sẽ dời qua tháng 10, tổ chức online; Sapa đổi thời gian Lễ hội hoa hồng và dừng Lễ hội mùa Thu (Bát Xát).</b>
                        <p>
                            Bà Nguyễn Thị Ánh Hoa, Phó Giám đốc thường trực Sở Du lịch TP HCM cho biết, đơn vị đang lấy ý kiến từ các chuyên gia, ban ngành để chuyển đổi phương cách tổ chức Lễ hội Áo dài TP HCM lần thứ 7 năm 2020 sang hình thức online. "Dự kiến, nếu mọi thứ chuẩn bị kịp, Lễ hội sẽ được diễn ra vào tháng 10", bà Hoa nói.
                        </p>
                        <img src="/images/TinTuc1/TT1.jpg">
                        <p>Ông Hoàng Văn Tuyên, Chủ tịch Hiệp hội du lịch Lào Cai cũng cho biết, Lễ hội mùa Thu "Y Tý đại ngàn" và Ngày hội văn hóa thể thao các dân tộc huyện Bát Xát, tỉnh Lào Cai dự kiến tổ chức từ ngày 15 - 16/8 tại xã Y Tý với rất nhiều hoạt động hấp dẫn, mang đậm bản sắc văn hóa các dân tộc sẽ phải dừng để đảm bảo công tác phòng chống dịch bệnh.</p>
                        <img src="/images/TinTuc1/TT2.jpg">
                        <p>Lễ hội hoa hồng và rượu vang Sapa 2020, theo kế hoạch được tổ chức từ 21 - 23/8 tại thị xã Sapa, tỉnh Lào Cai. Chương trình đã chuyển thời gian,dự kiến diễn ra tháng 10/2020 với các hoạt động như trưng bày hoa hồng theo chủ đề Con đường tình yêu, vườn hoa Sapa, chợ hoa, phố hoa....</p>
                        <p>
                            "Lễ hội hoa hồng và rượu vang Sapa năm nay, trước mắt dự kiến sẽ dời sang tháng 10 để để đảm bảo công tác phòng chống dịch bệnh Covid-19. Đến thời điểm đó, tùy tình hình diễn biến của dịch mới tiếp tục có tổ chức hay không. Nếu dịch bệnh vẫn còn diễn biến khó lường, có thể cả Lễ hội mùa Đông (diễn ra vào tháng 11) cũng sẽ tạm hoãn", ông Tuyên nói.
                        </p>
                        <img src="/images/TinTuc1/TT3.jpg">
                        <p>UBND tỉnh Đăk Lăk cũng cho biết, do tình hình dịch Covid-19, Chính phủ đã đồng ý dừng tổ chức Lễ hội Cà phê Buôn Ma Thuột lần thứ 8 năm 2021 và đề xuất dời sang năm 2022.</p>
                        <p>
                            Lễ hội cà phê Buôn Ma Thuột là sự kiện mang tầm quốc gia, được tổ chức định kỳ hai năm một lần nhằm quảng bá hình ảnh Buôn Ma Thuột, Đăk Lăk là vùng đất Tây Nguyên huyền thoại, giàu bản sắc dân tộc. Theo kế hoạch, lễ hội được tổ chức từ ngày 9 - 16/3/2021 với nhiều hoạt động.
                        </p>
                        <p>Lễ hội cà phê Buôn Ma Thuột lần thứ 7 năm 2019 đã đón tiếp 444 đại biểu trong nước, 158 khách nước ngoài đến từ 25 đoàn và thu hút hơn 50 nghìn lượt khách du lịch, trong đó có gần 6.000 lượt khách quốc tế tham quan, thưởng lãm.</p>
                    </div>
				</div><!--/.container-->
	
			</section><!--/.gallery-->
			<!--gallery end-->

        </div>

		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="/">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="/">home</a></p>
									<p><a href="/">Hình Ảnh</a></p>
									<p><a href="/">Ẩm thực</a></p>
									<p><a href="/">tin tức</a></p>
									<p><a href="/">Liên Lạc</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>Hình ảnh</h2>
								<div class="single-footer-txt">
									<p><a href="/vn">việt nam</a></p>
									<p><a href="/">nhật bản</a></p>
									<p><a href="/">trung quốc</a></p>
									<p><a href="/">australia (Úc)</a></p>
									<p><a href="/">Hàn Quốc</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">Liên hệ với chúng tôi</h2>
								<div class="single-footer-txt text-left">
									<p>070319xxxx</p>
									<p class="foot-email"><a href="#">tourNest@notExist.com</a></p>
									<p>Trái Đất</p>
									<p>Thiên hà Milky Way</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 8/2020 . All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<script src="/javascripts/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->

		<!--modernizr.min.js-->
		<script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


		<!--bootstrap.min.js-->
		<script  src="/javascripts/bootstrap.min.js"></script>

		<!-- bootsnav js -->
		<script src="/javascripts/bootsnav.js"></script>

		<!-- jquery.filterizr.min.js -->
		<script src="/javascripts/jquery.filterizr.min.js"></script>

		<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

		<!--jquery-ui.min.js-->
        <script src="/javascripts/jquery-ui.min.js"></script>

        <!-- counter js -->
		<script src="/javascripts/jquery.counterup.min.js"></script>
		<script src="/javascripts/waypoints.min.js"></script>

		<!--owl.carousel.js-->
        <script  src="/javascripts/owl.carousel.min.js"></script>

        <!-- jquery.sticky.js -->
		<script src="/javascripts/jquery.sticky.js"></script>

        <!--datepicker.js-->
        <script  src="/javascripts/datepicker.js"></script>

		<!--Custom JS-->
		<script src="/javascripts/custom.js"></script>


	</body>

</html>