/*** egany custom ***/
/**** FONTS DEFAULT ****/
* {
	font-family: Arial, sans-serif!important;
}
[class^="fa-"], [class*=" fa-"] {
	font-family: 'FontAwesome'!important;
}
[class^="glyphicon"], [class*=" glyphicon"] {
	font-family: 'Glyphicons Halflings'!important;
}
/**** END FONTS DEFAULT ****/

.nostyled {
	list-style: none;
}
/*** top bar ***/
ins {
	text-decoration: none;
}
p {
	margin-bottom:0;
}
ul {
	list-style: none;
}
#header {
z-index: 10
}
/* ----------------------------------------------------------------
Lazyload
-----------------------------------------------------------------*/
[data-lazyload] {
	background: #FFF url(//theme.hstatic.net/1000309720/1000418813/14/preloader.gif?v=148) no-repeat center center;
	content: url(//theme.hstatic.net/1000309720/1000418813/14/blank.svg?v=148);
}
#top-bar strong { 
	margin-right: 15px;
	font-weight: normal;
}
#top-bar i {
	font-size: 20px;
	margin-right: 5px;
	margin-left: 10px;
	vertical-align: bottom;
}
.top-links ul li:before {
	content: '|';
	display:block;
	position: absolute;
	left:0;
	color: #ccc;
}
.top-links ul li:first-child:before {
	content: initial;
}
/*** end top bar ***/
#slider .slick-slide img {
	width: 100%;
}
#page-title {
	padding: 10px 0 0 0;
}

div.pagination_wrapper {
	text-align:center;
	clear:both;
}
div.sidebar h4 a {
}
div.sidebar h4 a:hover {
}
div.entry-image img {
	height: auto!important;
}
.flex-control-nav.flex-control-thumbs li, 
.flex-control-nav.flex-control-thumbs li img {
	width: 67px !important;
	height: auto!important;
}
ul.social-icons div.item {
	float:left;
}
ul.social-icons div.item:first-child {
	/*width: 115px;*/
}
.entry-meta li del {
	color: #888;
}
/** top cart **/
.top-cart-items {
	overflow-y:scroll;
	height: 300px;
}
div.top-cart-item-image {
	height: auto!important;
}
div.top-cart-item-image a,
div.top-cart-item-image img {
	height: auto!important;
}
#side-panel-trigger a {
	padding-right: 25px;
}
.cart-product-thumbnail img {
	height: auto!important;
}
.require_symbol {
	color: red!important;
}
.a-circle {
	overflow: hidden;
}
.img-circle-custom {
	position: static!important;
}
div.related-posts-img {
	overflow: hidden;
}
div.related-posts-img img {
	position: static;
}
div.account-table {
	margin-bottom: 30px;
}
div.account-detail h4, div.account-detail p {
	margin-bottom: 5px;
}
a.back-to-account {

	display: inline-block;
	padding: 5px 10px;
	line-height: 30px;
	margin-bottom: 10px;
	border-radius: 5px;
	color: #d603a1;
}
.order-customer-address {
	border:1px solid #ccc;
	padding: 15px;
	margin-bottom: 10px;
}
div.order-detail-table {
	margin-top: 70px;
}
ul.social-icons {
	list-style:none;
}
.fb-like-box,
.fb-like-box span {
	width: 100%!important;
}
.flex-viewport {
	height: auto!important;
}
.product-page-options {
	width: 100%;
	overflow:hidden;
	margin-bottom: 10px;
}
.options-title {
}
.options-selection {
	width: 110px;
}
.sizePicker {
	float:left;
	margin-right: 20px;
}
label.options-title {
	cursor: default;
	font-size: 10px;
	margin-bottom:0;
}
.heading-block h3 strong {
	color: #96834C;
}
.heading-block > span:not(.before-heading) {
	font-weight: 700;
}
.heading-block {
	margin-bottom: 30px;
}
.browse-tags {
	/*	margin-right: 25px;*/
}
.product-image img {
	height: auto;
}
.left-sidebar .spost .entry-image a,
.left-sidebar .spost .entry-image {
	height: auto;
}
.top-cart-item-desc a {
	padding-right: 20px;
}
.product .product-desc .product-title {
	height: 50px;
	overflow: hidden;
}
.google-maps {
	position: relative;
	overflow: hidden;
	height: 350px;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
#simple-menu {
	/*display: none;*/
}
#menu-wrapper {
	display:none;
}
.errors {
	color: red;
}
.product {
	/*padding-top: 15px;*/
	padding-bottom: 35px;
	margin: 0;
}
#top-search-sm form {
	width: 100%;
	margin-bottom: 10px;
}
#top-search-sm .form-control {
	width: 90%;
	margin: auto;
	margin-top: 10px;
}
.sale-flash {
	/*z-index: 1;
	background-color: #F8484A;*/
}
.spost .entry-title h4, .mpost .entry-title h4 {
	font-weight: 300;
}
.entry-meta li ins {
	font-weight: 300;
}
/*** interactive banner ***/
.bottom-margin {
	margin-bottom: 15px!important;
}
.banner-img a {
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.banner-img img {

	width: 100%;
}
.banner-link {
	position: relative;
}
.banner-content-wrapper {
	display: inline-block;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 50px;
	transition: height 0.5s ease, transform 0.5s ease;
}
.banner-content-wrapper h2.banner-title,
.banner-content-wrapper .banner-content p {
	color: #fff;
}
h2.banner-title {
	width: 100%;
	position: absolute;
	top: 0;
	transition: top 0.5s ease, transform 0.5s ease;
	font-weight: 300;
}
.banner-content {
	transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
	transform: scale(0);
	height: 100%;
	position: absolute;
	width: 100%;
}
.banner-content p {
	margin-top: 50px;
	position: absolute;
	text-align: center;
	width: 100%;
	transition: top 0.5s ease, transform 0.5s ease;
	top:0;
}
/*** end interactive banner ***/

.owl-theme .owl-controls .owl-nav .owl-next {
	right: 0px;
}

.fslider, .fslider .flexslider,
.fslider .slider-wrap, 
.fslider .slide, 
.fslider .slide > a, 
.fslider .slide > img, 
.fslider .slide > a > img {
	z-index: 0;
}
.marginbottom {
	margin-bottom: 30px;
}

/*** filter***/
.filter_group .panel-default {
	padding-bottom: 0px;
}
.filter_group .panel-heading {
	padding-left: 10px;
}
.panel-heading a {
	color: #555;
}
.filter_group .panel-title {
	font-size: 15px;
}
.filter_group .panel-default .panel-heading {
	/*background-color: transparent;*/
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.filter_group .widget_links:not(:first-child) {
	margin-top: 10px;
	border-top: 1px dotted #EEE;
}
.filter_group .widget_links {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 20px;
}
.filter_group .widget_links h4 {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 12px;
}
.filter_group .widget_links ul {
	margin-left: 10px;
}
.filter_group .widget_links ul label {
	font-weight: 400;
	text-transform: none;
	margin-bottom: 0;
}
.widget_links li i {
	cursor: pointer;
	text-align: center;
	float: right;
	width: 30px;
	height: 21px;
	font-size: 8px;
	line-height: 21px;
	color: #6b6b6b;
}
/*** filter***/
#newsletter-email-1,
.search_form,
.section {
	z-index: 1;
}
.filter_group a i,
.panel-group h4 i.arrow {
	float: right;
}
.color_wrapper {
	padding: 1px;
	border: 1px solid transparent;
	width: 29px;
	height: 24px;
}
.color_block {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	margin: 0;
	top: 0;
	border: 1px solid #ccc;
	width: 25px;
	height: 20px;
	margin: 0!important;
	cursor: pointer;
}
.color_filter li {
	height: 25px;
	display: block;
	float: left;
	padding: 0;
	margin: 0 5px 3px 0px;
}
.bordercolor {
	border-color: #ccc;
}
.product-image > a {
	height: auto;
}

/*** top search ***/
#logo {
	margin-right: 0;
	padding-left: 0;
}
.top_search {
	height: 100px;
	float: right;
	-webkit-transition:height 0.5s ease;
	transition: height 0.5s ease;
	padding: 20px 0;
}
.top_search form, 
.top_search .form-group, 
.top_search input[type='text'],
.top_search select {
	height: 100%;
	vertical-align: top;
}
.top_search select {
	border-bottom: 3px solid #c6c6c6;
	margin-left: -4px;
	border-top: 3px solid #c6c6c6;
	width: 25%;
	padding-left: 10px;
}
.top_search input[type='text'] {
	border-top: 1px solid #c6c6c6;
	border-left: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
	border-right: none;
	border-radius: 0;
	/*border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;*/
	width: 83.33333333%;
}
.top_search .button {
	border: none;
	background-color: #d603a1;
	color: #fff;
	height: 100%;
	font-size: 12px;
	margin: 0 0 0 -4px;
	padding: 0 2%;
	font-weight: normal;
}
.top_search a.button i {
	top: 10px;
}
.top_search_sticker {
	height: 60px;
	padding: 5px 0;
}
.left_menu.left_menu_sticker {
	left: -20%;
	z-index: 3;
	top: 158px;
	position: fixed;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.left_menu.left_menu_sticker:hover {
	left: 0;
	padding-left: 30px;
	width: 310px;
}
.submenu li:hover {
	background-color: #f9f9f9;
}
#top-cart > a > b.cart_total {
	font-size: 18px;
	font-weight: 400;
	color: #d603a1;
	background-color: transparent;
	bottom: 0;
	top: auto;
	left: 65px;
	position: absolute;
}
#top-cart > a > strong {
	top: 10px;
	position: absolute;
	right: -80px;
	font-size: 16px;
	font-weight: normal;
}
#top-cart > a:hover > strong {
	color: #333;
}
/*** end top search ***/

/*** four group ***/
.tab-container {
	padding-top: 5px;
}
ul.tab-nav:not(.tab-nav-lg) {
	/*border-bottom: 0;
	height: 44px;
	vertical-align: top;
	padding-right: 20px;*/
}
ul.tab-nav:not(.tab-nav-lg) li {
	border: none;
	height: 44px;
	margin-left: -4px;
	display:inline-block;
	vertical-align: bottom;
	position: relative;
	float:none;
}
ul.tab-nav:not(.tab-nav-lg) li:first-child {
	border: none;
}
ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
	margin-top: 0;
	background-color: #fff;
	color: #444;
	height: 44px;
	line-height: 44px;
}
.tabs-justify ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
	height: 42px;
	line-height: 42px;
}
.tabs-justify ul.tab-nav:not(.tab-nav-lg) li:first-child  {
	border-left: 1px solid #ddd;
}
ul.tab-nav li a i {
	font-size: 18px;
}
.product-image {
	height: auto;
}
.index_group_product #shop {
	/*border: 1px solid #ececec;*/
	padding: 10px 0 0 0;
	margin-left: -10px;
	margin-right:-10px;
}
.index_group_product .product {
	border-left:1px solid #ececec;
	border-right:1px solid #ececec;
	border-bottom:1px solid #ececec;
	padding-bottom: 35px;
}
.hot_product {
	margin-left: -5px;
	margin-right: -5px;
}
.hot_product .product {
	margin-left: 5px;
	margin-right: 5px;
}
.hot_product .slick-arrow {
	top: -42px;
	background: transparent;
	color: #fff;
}
.hot_product .slick-arrow:hover {
	background: transparent!important;
}
.hot_product .slick-prev {
	right: 40px;
	left: auto;
}
.hot_product .slick-next {
	right: 5px;
}
.index_group_product .product:hover,
.best_seller_product .product:hover,
.hot_product .product:hover {
	box-shadow: 0px 2px 3px #ccc;
	z-index:1;
}
.index_group_product .product:first-child {
	/*	border: none;*/
}
.product-overlay a {
	/*background-color: #d603a1;*/
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}
.product-overlay a:hover {
	background-color: #08086b;
}
.product-title h3 a, .single-product .product-title h2 a, .spost .entry-title h4 a, .mpost .entry-title h4 a {
	color: #d603a1;
}

.product-title h3 a:hover, .single-product .product-title h2 a:hover, .spost .entry-title h4 a:hover, .mpost .entry-title h4 a:hover {
	color: #08086b;
}
.product-price del {
	/*float:left;*/
}
.product-price ins {
	color: #ff0000;
	/*float:right;*/
}

/*** end four group ***/

/*** best seller ***/
.best_seller {
	overflow: hidden;
	border: 1px solid #ececec;
	border-top:0;
}
.best_seller_left,
.best_seller_right {
	padding: 0;
}
.best_seller_right {
	border-top: 1px solid #ececec;
}
.best_seller_right .product {
	padding: 0 10px;
}
.best_seller_right .product .product-title {
	margin-bottom: 0;
	height: auto;
}
.best_seller_right .product-title h3 {
	font-size: 25px;
}
.best_seller_right .flex-control-nav.flex-control-thumbs {
	height: auto;
}
.best_seller_right .product-price del,
.best_seller_right .product-price ins {
	float:none;
	/*font-size: 22px;
	line-height: 30px;
	display: block;*/
}
.best_seller_right .product-price del {
	margin-right: 15px;
}
.best_seller_right .product-page-options label {
	margin-right: 15px;
	float:left;
	font-size: 15px;
	line-height: 30px;
}
.best_seller_right .product-page-options .options-selection {
	float:left;
}
.best_seller_right p {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0px;
}
.best_seller_right .product-price {
	height: 30px;
	line-height: 30px;
}
.best_seller_right .single-product .product-desc .line {
	margin: 10px 0;
}
.best_seller_product {
	border-right: 1px solid #ececec;
	border-top: 1px solid #ececec;
	padding: 0;

}
.best_seller_right .product-main-image {
	padding-right: 15px;
	padding-left: 15px;
}
.best_seller_product .product {
	width: 100%;
	min-height: 380px;
}
.best_seller_product .product-price {
	padding-left: 15px;
	padding-right: 15px;
}
.best_seller .quantity {
	margin-right: 0;
	padding-top: 10px;
}
.best_seller #ProductDetailsForm {
	margin: 0;
}
#hot_product .owl-controls .owl-nav [class*=owl-] {
	top: -22px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 35px;
}
#hot_product .owl-controls .owl-nav .owl-prev {
	right: 50px;
	left: auto;
}
#hot_product .owl-controls .owl-nav .owl-next {
	right: 0;
}
.hot_product_title.fancy-title.title-border:before {
	top: 90%;
}
/*** end best seller ***/

/*** hot product ***/
.hot_product .product {
	width: 100%;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.hot_product .product .product-title {
}
.hot_product .product .product-title h3 {
}
.hot_product .product .product-price {
}
.hot_product .owl-next,
.hot_product .owl-prev {
	border: none;
}
#hot_product .owl-controls .owl-nav [class*=owl-]:hover {
	background-color: transparent !important;
	color: #ccc !important;
	text-decoration: none;
}
/*** end hot product ***/

/*** left menu ***/
.left_menu {
	padding-left: 0;
	/*padding-right: 0;*/
	/*top: 168px;*/
	margin-bottom: 0;
	position: absolute;
	/*width: 280px;*/
}
.left_menu .panel-heading {
	padding-top: 0;
	background-color: #d603a1;
	height: 45px;
	color: #fff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 20px;
	padding-bottom: 0;
}
.left_menu .panel-heading h4 {
	color: #fff;
	line-height: 45px;
	display: block;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 20px;
	font-weight: 400;
}
.left_menu .panel-heading a i {
	vertical-align: bottom;
}
.left_menu .panel-body {
	padding: 0;
}
.left_menu .nav-stacked > li {
	margin:0;
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}
.left_menu .panel-title {
	border-radius: 0;
	height: 45px;
	line-height: 45px;
	color: #636363;
	font-size: 15px;
	background-color: transparent;
}
.left_menu .nav-stacked > li {
	background-color: #fff;
}
.left_menu .nav-stacked > li:nth-child(odd) {
	background-color: #f9f9f9;
}
.left_menu .nav-pills > li > a {
	color: #333;
	border-radius: 0;
	padding: 7px 15px 6px 15px;
}
.left_menu .nav-pills > li:hover > a {
	color: #d603a1;
}
.left_menu .nav-pills > li > a i {
	font-weight: 400;
	float: right;
	position: absolute;
	right: 8px;
	font-size: 17px;
	line-height: 19px;
}
.left_menu .nav-pills > li.menu:hover .submenu {
	display: block;
}
.left_menu #collapse1 {
	border-bottom: 1px solid #e0e0e0;
}
.submenu {
	display:none;
	-webkit-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
	margin-left: 0;
	z-index: 2;
	position: absolute;
	left: 100%;
	list-style: none;
	top: 0;
	background-color: #fff;
	min-width: 100%;
	border-top: 2px solid #d603a1;
}
.submenu_padding {
	padding: 10px 20px;
}
.submenu li,
.submenu li a {
	display: block;
}
.submenu li {
	padding: 3px 0;
	border-bottom: 1px solid #e0e0e0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.submenu li:last-child {
	border-bottom: none;
}
.submenu li a {
	color: #636363;
	line-height: 26px;
	padding: 0px 17px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 0
}
.menu img {
	width: 24px;
	height: auto;
	margin-right: 10px;
}

.left_menu.left_menu_sticker .menu img {
	float: right;
	margin-right: 5px;
}
/*** end left menu ***/
.btn_wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
}
.button {
	background-color: #d603a1;
}
.button:hover {
	background-color: #d603a1;
}
/*** footer ***/
#footer {
	background-color: #f9f9f9;
}
#copyrights {
	background-color: rgba(0,0,0,0.85);
}
/*** end footer ***/
.content-wrap {
	padding: 10px 0 30px 0;
}
.btn {
	background-color: #d603a1;
	border-color: transparent;
}
.btn:hover,
.btn:focus {
	background-color: #d603a1;
	border-color: transparent;
}
#product-related-products .product .product-desc .product-title {
	height: auto;
}
.product_wrapper {
	overflow:hidden;
}
.slide_wrapper {
	position: relative;
}
#top-cart  a span.top_cart_qty {
	top: 0px;
	left: 28px;
	width: 23px;
	height: 23px;
	font-size: 13px;
	line-height: 23px;
}
.top-cart-action button {
	font-size: 12px;
}
.hot_product_wrapper {
	padding-left: 0;
	background: #fff;
	position: relative;
	margin: 0;
	padding-right: 0;
}
.hot_product_title {
	background-color: #d603a1;
	color: #fff;
	padding-left:18px;
	margin-bottom: 5px;
	height: 44px;
}
.hot_product_title h3 {
	line-height: 44px;
	background-color: #d603a1;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
}
.hot_product_title:before {
	content: normal!important;
}
#hot_product {
	border-right: 1px solid #ececec;
}
.best_seller_product_wrapper {
	overflow: hidden;
}
.index_group_title {
	border-bottom: 2px solid #d603a1;
overflow: hidden;
}
.index_group_title ul.tab-nav:not(.tab-nav-lg) li,
.index_group_title ul.tab-nav:not(.tab-nav-lg) li a,
.index_group_title ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
	height: 35px;
	line-height: 35px;
}
.index_group_title ul.tab-nav:not(.tab-nav-lg) li a,
.description_tab ul.tab-nav:not(.tab-nav-lg) li a {
	background: #fff;
	color: #d603a1;	
}
.index_group_title ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a,
.description_tab ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
	color: #fff;
	background: #d603a1;
}
.index_group_title h3 {
	margin-bottom: 0;
	font-weight: normal;
	float:left;
	font-size: 18px;
	color: #fff;
	height: 44px;
	padding-left: 20px;
	line-height: 44px;
}
.best_seller_product:nth-child(6),
.best_seller_product:nth-child(12) {
	border-right: none;
}
.get_in_touch {
	margin: 30px 0;
	padding: 25px 0;
	background-color: transparent;
}
.get_in_touch .col-md-3 {
	/*border: 1px solid #ccc;
	border-right: none;*/
}
.get_in_touch .col-md-3.col_last {
	/*border-right: 1px solid #ccc;*/
}
.get_in_touch .feature-box {
	padding: 30px 0;
}
.get_in_touch .feature-box .fbox-icon {
	top: 25px;
}
.slider_wrap {
	padding-right: 0;
}
.banner-img {
	padding-left:5px;
}
.banner-img:first-child {
	padding-right: 5px;
}
.bottom_margin {
	margin-bottom: 20px;
}


.entry-content p {
	margin-bottom: 10px;
}
#body_overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: -1;
	pointer-events: none;
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}
#body_overlay.toggled {
	opacity: 1;
	z-index: 298;
	pointer-events: auto;
}
.testimonial_title {
	font-weight: 300
}
table.cart .quantity .qty {
	background: transparent;
	border: 1px solid #DDD;
}
.cart-product-remove {
	text-align: center;
}
.promo > .container > .promo_title > span {
	margin-top: 6px;
	display:block;
}
.promo_btn  {
	position: relative;
}
.feature-box a:hover {
	color: #d603a1;
}
.search_form_wrapper {
	
	top: -100px;
	background: #fff;
	box-shadow: 0px 5px 5px #c8c8c8;
	padding: 15px 5px 10px 10px;
	margin-bottom: -60px;
	border-radius: 4px;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
}
.search_form_wrapper:before {

}
.search_form_wrapper:after {

}
.search_form_wrapper label {
	color: #d603a1;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 5px!important;
}
.search_form_wrapper .form-control, .search_form_wrapper #datepicker {
	height: 30px;
	width: 100%;
	line-height: 30px;
	border-radius: 4px;
	border: 1px solid #C7C7C7;
	font-size: 13px;
	color: #999;
	padding-bottom: 0;
	padding-top: 0;
}
.search_form_wrapper .button {
	margin-top: 15px;
	padding: 0px 15px;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	border-radius: 2px;
	text-shadow: none;
}
.quick_book {
	width: 100%;
	height: 35px;
	bottom: 0;
	position: absolute;
}
.quick_book .button {
	line-height: 35px;
	margin: 0;
	padding: 0;
	height: 35px;
	font-weight: 700;
	font-size: 18px;
	display:block;
	width: 100%;
}
.quick_book .button, .single-product .add-to-cart.button {
	background: #70045e;
	color: #ffffff;
}
.quick_book .button:hover, .single-product .add-to-cart.button:hover {
	background: #70045e;
	color: #ffffff;
}
.add-to-cart {
	padding-right: 5px;
}
.add-to-cart i:after {
	border-right-color: #70045e;
}
.add-to-cart button, .call_btn a {
	width: 100%;
	height: 42px!important;
	line-height: 42px;
	font-size: 18px;
	text-shadow:none;
}
.call_btn {
	padding-left: 5px;
}
.add-to-cart i, .call_btn i {
	width: 40px;
	font-size: 20px;
	top: 0px;
	left: 0px;
	display: block;
	background: rgba(0,0,0,0.1);
	height: 100%;
	line-height: 42px;
	position: absolute;
}
.add-to-cart i:after, .call_btn i:after {
	content: '';
	position: absolute;
	display: block;
	right: -10px;
	border-top: 42px solid rgba(0,0,0,0.1);
	top: 0px;
	transition: all .2s ease-in-out;
}
.add-to-cart i:after {
	border-right: 10px solid #70045e;
}
.add-to-cart a:hover i:after {
	border-right-color: #70045e;
}
.call_btn a {
	background-color: #70045e;
	color: #ffffff;
}
.call_btn a:hover {
	background-color: #70045e;
	color: #ffffff;
}
.call_btn i:after {
	border-right: 10px solid #70045e;
}
.call_btn a:hover i:after {
	border-right-color: #70045e;
}
.single-product .add-to-cart.button:hover i:after {
	border-right-color: #70045e;
}
.quick_book .disabled {
	background-color: #d1d1d1;
	cursor: not-allowed;
	color: #ffffff;
}
.quick_book .disabled:hover {
	background-color: #d6d6d6!important;
	color: #ffffff!important;
}
.quick_book .selection_options {
	background-color: #70045e;
	color: #ffffff;
}
.quick_book .selection_options:hover {
	background-color: #70045e!important;
	color: #ffffff!important;
}
.quick_book i {
	float: right;
	width: 35px;
	height 35px;
	font-size: 25px;
	background: rgba(0,0,0,0.3);
	line-height: 33px;
	margin: 0;
}
.side_product_img {
	position: relative;
}
.side_product_price {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 55%;
}
.side_product_price del {
	padding-left: 10px;
	height: 20px;
	line-height: 20px;
	background: #ccc;
	display: block;
	font-size: 14px;
	font-weight: 700;
}
.side_product_price ins {
	background: #FF5400;
	color: #fff;
	height: 35px;
	text-decoration: none;
	display: block;
	padding-left: 10px;
	font-weight: 700;
	line-height: 38px;
	font-size: 18px;
}
.sale_badge {
	background: url(//theme.hstatic.net/1000309720/1000418813/14/sale_bg.png?v=148) no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	background-size: 50px 50px;
	font-size: 18px;
	color: #fff;
	line-height: 65px;
	text-align: center;
	font-weight: 700;
	padding-left: 3px;
	text-shadow: 1px 1px 1px #ccc;
}
.hot_product_wrapper .owl-theme .owl-controls .owl-nav [class*=owl-] {
	top: -25px;
	color: #fff;
	background: transparent;
	border: none;
	font-size: 25px;
}
.hot_product_wrapper .owl-theme .owl-controls .owl-nav .owl-prev {
	left: auto;
	right: 44px;
}
.hot_line_wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.9);
	padding: 10px 15px;
	z-index: 10;
}
.hot_line_img,
.hot_line {
	float: left;
}
.hot_line_img {
	margin-right: 15px;
}
.hot_line_wrapper p {
	margin: 0;
	line-height: 20px;
}
.search_content  {
	display: flex;
}
.search_content .form-group {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}
.product_single {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	float: none;
	margin-right: -4px;
	vertical-align: top;
}
.product_detail p {
	margin-bottom: 0;
}
.product_overlay {
	position: absolute;
	bottom: -35px;
	height: 35px;
}
.product_overlay a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	background: rgba(0,0,0,1);
	visibility: hidden;
	transition: all 0.5s ease;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 35px;
}
.shop .product:hover .product-desc {
	/*bottom: 38px;*/
}
.shop .product:hover .product-desc .product_overlay a {
	visibility: visible;
}
.product_description  .tab-container {
	border: 1px solid #d603a1;
padding: 15px;
display: block;
}
.side_product_single {
	margin-bottom: 30px;
}
.side_product_title {
	font-size: 15px;
}
.fancy-title h4 a {
	color: #fff;
	font-size: 17px;
}
.fancy-title h4 a:hover {
	color: #fff;
}
.tabs-justify ul.tab-nav:not(.tab-nav-lg) {
	display: flex;
}
.tabs-justify ul.tab-nav:not(.tab-nav-lg) li {
	float: left;
	border: 1px solid #DDD;
	background: #d603a1;	
	text-align: center;
	border-top: 2px solid transparent;
	flex: 1;
}
.post-list {
	padding: 15px 10px 10px 10px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	overflow: hidden;
}
.featured_main_news {
	position: relative;
}
.featured_main_news img {
	width: 100%;
}
.featured_main_overlay {
	bottom: 0;
	padding: 5px 10px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	color: #fff;
	width: 100%;
}
.featured_main_overlay a {
	display: block;
	font-weight: 700;
}
.featured_main_overlay ins {
	font-size: 12px;
}
.index_group_product .tab-content {
	/*margin-right: 20px;*/
}
.index_group_product .shop {
	margin-left: -10px;
	margin-right: -10px;
}
.search_side_form {
	padding: 10px;
	border: 1px solid #ddd;
	border-top: 0;
}
.search_form_wrapper fieldset, .search_form_wrapper label, .search_form_wrapper form, .side_search_wrapper fieldset, .side_search_wrapper form, .side_search_wrapper ul {
	margin: 0;
}
.side_search_wrapper .form-group {
	margin-bottom: 10px;
}
.side_search_wrapper .form-control {
	border-radius: 0;
	height: 27px;
	font-size: 12px;
	line-height: 27px;
	padding: 0 12px;
}
.side_search_wrapper button {
	margin: 0 auto;
	display: block;
}
.single-product .product-price span {
	font-size: 15px;
	float: right;
	font-weight: 300;
	color: #000;
	line-height:30px;
}
#collection-filters-container {
	margin: 0 0 10px 0;
}
#collection-filters-container .cf-title {
	margin: 10px 5px 2px 0;
}
#collection-filters-container .cf-select {
	height: 27px;
	font-size: 12px;
	line-height: 27px;
}
.title-border {
	background: transparent;
}
.fancy-title.title-border:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	right: 0;
	top: 49%;
	border-top: 1px solid #EEE;
}
.fancy-title.title-border h4 {
	position: relative;
	display: inline-block;
	background-color: #FFF;
	padding-right: 15px;
	margin-bottom: 0;
	font-weight: normal;
}
.see_more {
	position: absolute;
	right: 0;
	top: -30px;
}
.see_more:hover {
	text-decoration: underline!important;
}
.sidebar_trigger {
	position: fixed;
	left: 0px;
	top: 40%;
	font-size: 50px;
	background: #d603a1;
	color: #fff;
	padding: 0 3px;
	width: 25px;
	z-index: 9999;
}
.index_group_product {
	margin: 0 0 50px 0;
}
.page_title h1 {
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 5px;
}
.breadcrumb > .active {
	color:#d603a1;
}
.breadcrumb > li + li:before {
	content: '>';
	color: #555;
	padding: 0 15px;
}
#ProductDetailsForm .product {
	padding-bottom: 0;
}
#ProductDetailsForm .product .col_half {
	margin-bottom: 0;
}
.tags {
	color: #fff;
	margin-left: 12px;
	margin-bottom: 5px;
	z-index: 1;
	padding: 0 8px 0 8px;
	height: 18px;
	width: auto;
	border-radius: 4px;
	position: relative;
	background: #d603a1;
	display: inline-block;
	font-size: 11px;
	line-height: 18px;
}
.tag_left {
	z-index: -1;
	display: block;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #d603a1;
	width: 14px;
	height: 14px;
	left: -6px;
	top: 2px;
	border-radius: 4px;
}
.tag_left:before {
	display: block;
	background: #fff;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	left: 4px;
	top: 5px;
	position: absolute;
}
.tags:hover, .tags:hover .tag_left {
	background: #08086b;
	color: #fff;
}
.pd_service {
	margin-bottom: 15px;

	overflow: hidden;
}
.pd_service p {
	text-align: center;
}
.pd_service_item {
	margin-bottom: 20px;
	float: left;
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
}
.pd_service img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
/*** date picker ***/
.ui-datepicker.ui-widget {
	z-index: 9999;
	display: none;
	position: relative;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
	border-radius: 0;
	padding: 8px;
	width: 19em;
}
.ui-datepicker.ui-widget .ui-datepicker-header {
	background: 0 0;
	border: 0;
}
.ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next, .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev {
	background: 0 0;
	background-repeat: no-repeat;
	background-size: 75% 75%;
	background-position: center center;
	border: 0;
	cursor: pointer;
	width: 20px;
	height: 30px;
	-moz-opacity: .5;
	-khtml-opacity: .5;
	-webkit-opacity: .5;
	opacity: .5;
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next:hover, .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100);
}
.ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev {
	float: left;
	left: 0;
	right: auto;
	top: 4px;
	background-image: url(//theme.hstatic.net/1000309720/1000418813/14/date_pre.png?v=148);
}
.ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next {
	background-image: url(//theme.hstatic.net/1000309720/1000418813/14/date_next.png?v=148);
	float: right;
	right: 0;
	top: 4px;
	left: auto;
}
.ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-title {
	color: #2a2a2a;
	padding: 5px 3px;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;

}
.ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-next span, .ui-datepicker.ui-widget .ui-datepicker-header .ui-datepicker-prev span {
	display: none;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar {
	border: 0;
	margin-bottom: 5px;
	width: 100%;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar th {
	color: #999;
	font-size: 13px;
	line-height: 25px;
	font-weight: 700;
	padding-bottom: 10px;
	text-align: center;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar th span {
	cursor: help;
	border-bottom: 1px dotted #777;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar td {
	padding: 0;
	border: 0;
	height: 27px;
	overflow: hidden;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default {
	cursor: pointer;
	display: block;
	outline: 0;
	border: 0;
	margin: 0;
	width: 100%;
	padding: 5px;
	color: #666;
	font-size: 12px;
	line-height: 17px;
	text-align: right;
	background: #f5f5f5;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar td.ui-state-disabled {
	padding: 0;
	border: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	font-weight: bold;
}
#datepicker,#datepicker3,#datepicker4 ,#datepicker34 {
	background: url(//theme.hstatic.net/1000309720/1000418813/14/datepicker_bg.png?v=148) no-repeat right 10px center;
	background-color: #fff;
	border-radius: 0;
	height: 27px;
	font-size: 12px;
	line-height: 27px;
	background-size: 20px;
	width: 100%;
	border-radius: 0;
	border: 1px solid #C7C7C7;
	padding-left:15px;
}
.search_form_wrapper #datepicker {

	/* box-shadow: none; */
}
/*** end date picker ***/


.tag_group {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 10px 0;
}

.tag_group ul {
	margin:0;
	overflow:hidden;
}
.tag_group ul li:first-child {
	font-size: 17px;
	margin-bottom: 20px;
	text-align: center;
}
.tag_group ul li:not(first-child) a {
	color: #fff;
}
.tag_group ul li:not(first-child) a:hover {
	color: #ccc;
}
.subscribe, .subscribe .container, .subscribe form { height: 60px }
.subscribe {
	background: #d603a1;
}
.subscribe form {
	padding-top: 10px;
	text-align: right;
	margin: 0;
}
.page_title {
	padding-bottom: 5px;
}
.sidebar_news .entry-title h4 a {
	color: #d603a1;
}
.brand_group {
	margin-bottom: 10px;
	font-size: 15px;
	margin-left:-5px;
}
.top_banner {
	text-align: right;
}
.contact_btn_wrapper {
	width: 50%;
	margin: 20px auto;
	overflow: hidden;
}
#add_address .input-group {
	margin-bottom: 5px;
}
.cart_update_btn {
	background: #222;
}
#shop .product-image a img,
.product_single .product-image a img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 0.4s ease;
	-o-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}
#shop .product-image a:hover img,
.product_single .product-image a:hover img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
#shop .product,
.product_single .product {
	border: 1px solid #ccc;
}
.product_infor {
	margin-bottom: 5px;
	overflow: hidden;
}
.product_infor p {
	display: table-row;
}
.product_infor strong, .product_infor span {
	display: table-cell;
	vertical-align: middle;
	padding-right: 15px;
}
.product_infor span {
	padding: 0px 10px;
}
.pd_tour_variants {
	margin-bottom: 5px;
}
.pd_variants_content ul {
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
}
.pd_tour_variants .pd_variants_title {
	margin-bottom: 10px;
}
.pd_variants_title {
	border-bottom: 3px solid #DDD;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
}
.quantity {
	width: 80px;
	position: relative;
	float: left;
	height: 35px;
}
.pd_variants_content .quantity .qty {
	height: 35px;
	line-height: 35px;
	width: 100%;
	padding-right: 20px;
	border: 1px solid #ddd;
}
.pd_variants_content .quantity .plus, .pd_variants_content .quantity .minus {
	width: 20px;
	height: 18px;
	right: 0;
	position: absolute;
	line-height: 18px;
}
.pd_variants_content .quantity .plus:hover, .pd_variants_content .quantity .minus:hover {
	color: #fff;
}
.pd_variants_content .quantity .plus {
	top: 0;
}
.pd_variants_content .quantity .minus {
	bottom: 0;
}
.pd_variants_content li.subtotal {
	font-weight: 600;
	color: #d603a1;
}
.totalPrice {
	border-top: 1px solid #ddd;
	padding: 5px 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
}
.totalPrice strong {
	color: #ff0000;
	font-size: 18px;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default {
	cursor: pointer;
	display: block;
	outline: 0;
	border: 0;
	margin: 0;
	width: 100%;
	padding: 5px;
	color: #666;
	font-size: 12px;
	line-height: 17px;
	text-align: right;
	background: #f5f5f5;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	font-weight: bold;
	color: #fff !important;
	background: #d603a1 !important;
}
.ui-datepicker.ui-widget .ui-datepicker-calendar .ui-state-default:hover, .ui-datepicker.ui-widget .ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
	background: url(//theme.hstatic.net/1000309720/1000418813/14/today_bg.png?v=148) no-repeat right bottom;
	background-size: 10px;
}
.destination a {
	display: inline-block;
	position: relative; 
	padding-right: 10px;
}
.destination a:last-child {
	padding-right: 0;
}
.destination a:after {
	content: ' - ';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	text-align: center;
}
.destination a:last-child:after {
	content: normal;
}
.product_detail .destination a {
	color: #555;
}
.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #d603a1;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #d603a1;
	border-color: #d603a1;
	color: #fff;
}
.brand .fancy-title h4 {
	color: #444;
}
.account_title {
	margin: 10px 0;
	font-size: 23px;
	font-weight: normal
}


@media (min-width: 1200px) {
	.container {
		width: 1240px;
	}
	.account_page {
		height: 360px;
	}
}
@media (min-width: 992px) {
	.best_seller .product-page-options {
		width: 50%;
		padding-left: 15px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px)  {
	#logo img {
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width: 991px) {
	#top-bar {
		height: auto;
	}
	.top_search {
		height: auto;
	}
	.product .product-overlay {
		bottom: 0;
		top: auto;
		overflow: hidden;
		z-index: 0;
		height: 35px;
		line-height: 35px;
	}
	.postcontent #shop.product-3 .product .product-image {
		padding-bottom: 35px;
	}
	.product-overlay a {
		background-color:  #d603a1;
		transform: scale(1);
		overflow: hidden;
		margin: 0;
		line-height: 35px;
		color: #fff;
		height: 35px;
		width: 100%;
	}
	.owl-theme .owl-controls .owl-nav .owl-prev {
		left: 0;
	}
	.owl-theme .owl-controls .owl-nav .owl-next {
		right: 0;
	}
	.banner-wrapper {
		margin-top: 15px;
	}
	.banner-img {
		padding-right: 0;
		margin-bottom: 10px!important;
		margin-top: 10px!important;
		padding-left:0
	}
	.banner-img:first-child {
		padding-right: 0;
	}
	.filter_group .panel-default .panel-heading {
		margin-bottom: 0;
	}
	.color_block {
		width: 30px!important;
		height: 25px!important;
	}
	.color_wrapper {
		padding: 2px;
		width: 36px;
		height: 31px;
	}
	.color_filter li {
		height: 35px;
		margin: 0 10px 3px 0px;
	}
	#top-cart {
		position: absolute;
		z-index: 100;
		right: 90px;
		/*top: -5px;*/
	}
	#top-cart .icon-shopping-cart {
		font-size: 30px;
	}
	#top-cart > a > span {
		top: -5px;
		right:-10px;
	}
	#top_link_trigger {
		width: 20px;
		color: #000;
		position: absolute;
		right: 15px;
		top: 0px;
		font-size: 35px;
		z-index: 2;
		text-align: center;
	}
	.top_link_wrapper {
		position: relative;
	}
	.top-links {
		position: fixed;
		z-index: 6;
		width: 200px;
		right: 5px;
		top: 60px;
		background-color: #fff;
		border: 1px solid #f5f5f5;
		display: none;
	}
	.top-links ul li {
		float: none;
		width: 100%;
		border-left: none;
		text-align:right;
		border-bottom: 1px solid #f5f5f5;
	}
	.top-links ul li:last-child {
		border-bottom: none;
	}


	/*** interactive banner ***/
	.banner-content-wrapper {
		height: 100%;
	}
	.banner-content-wrapper h2.banner-title,
	.banner-content-wrapper .banner-content p {
		color: #fff;
	}
	h2.banner-title {
		top: 15%;
	}
	.banner-content {
		width: 100%;
		transform: none;
	}
	.banner-content p {
		top:45%;
		margin-top: 0;
		line-height: 22px!important;
	}
	/*** end interactive banner ***/
	#page-title {
		margin-top: 15px;
	}
	.content-wrap {
		padding: 15px 0;
	}
	.get_in_touch .col-md-3 {
		border: 1px solid #ccc;
		border-bottom: none;
	}
	.get_in_touch .col-md-3.col_last {
		border-bottom: 1px solid #ccc;
	}
	.index_group_product .product {
		/*min-height: 385px;*/
		border: none;
	}
	#header {
		transition: all 0.5s ease;
		position: fixed;
		z-index: 2;
		top: 0;
	}
	#header.toggled {
		/*margin-left: 250px;*/
	}
	.slider_wrap {
		padding-left: 0;
	}
	.top-links li > a {
		color: #333;
	}
	#menu-wrapper {
		display:block;
		position:relative;
	}
	#menu-toggle {
		position: fixed;
		top: 5px;
		color: #000;
		border: none;
		font-size: 30px;
		background-color: transparent;
		z-index: 11;
		left: 10px;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	#menu-toggle.toggled {
		left: 275px;
	}
	#menu-toggle:active,
	#menu-toggle:hover,
	#menu-toggle:focus {
		border: none;
		background-color: transparent;
	}
	#menu-wrapper {
		position:absolute;
		top: 0;
		z-index: 1000;
	}
	#primary-menu ul {
		display:none;
	}
	#sidebar-wrapper ul.sidebar-nav li ul {
		display: none;
	}
	#sidebar-wrapper ul > li.current > a,
	#sidebar-wrapper ul > li.current > a.menu,
	#sidebar-wrapper ul > li.current li.current a.sub-menu {
		color: #d603a1!important;
	}
	#sidebar-wrapper ul > li > ul {
		padding-left: 20px;
		list-style: none;
	}

	#sidebar-wrapper ul a span {
		float: right;
		padding-right: 20px;
		text-align:center;
		width:25%;
	}
	.promo-full {
		text-align: center;
	}
	.porfolio_single {
		text-align: center;
		padding: 0 5px;
	}
	.stretched #wrapper {
		margin-top: 50px;
	}
	#top-cart .top-cart-content {
		top: 45px;
	}
	.index_group_title {
		margin-right: 0;
	}
	.index_group_product .tab-content {
		margin-right: 0;
	}
	.hot_product_wrapper .owl-theme .owl-controls .owl-nav .owl-prev {
		right: 60px;
	}
	.hot_product_wrapper .owl-theme .owl-controls .owl-nav .owl-next {
		right: 15px;
	}
	.sidebar_wrapper {
		padding-top: 50px;
	}
	.widget {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.sidebar_toggle {
		position: fixed;
		left: -275px;
		top: 0;
		z-index: 1000;
		background: #fff;
		overflow-y: auto;
		height: 100%;
		width: 275px;
		padding-top: 20px;
		border-right: 1px solid #E8E7E7;
		transition: all 0.5s;
	}
	.sidebar_toggle.toggled {
		left: 0;
	}
	.browse-tags {
		margin-right: 0;
	}
	.single-product .product-desc {
		margin-top: 15px;
	}
	.tag_group ul {
		margin-bottom: 30px;
	}
	.tag_group ul li:first-child {
		margin-bottom: 5px;
	}
	.call_btn a {
		text-align: center;
	}
	.pd_service {
		margin-top: 0;
	}
	.contact_btn_wrapper {
		width: 100%;
	}
}
/* 991*/

@media screen and (max-width: 991px) and (min-width: 768px) {
	#header,
	#header-wrap,
	#top-cart a,
	#logo {
		height: 60px!important;
	}
	#top-cart {
		margin-top: 0!important;
		top: 15px;
	}
	#top-cart a img,
	#logo img {
		height: 59px!important;
		width: auto;
	}
	#shop .product {
		/*width: 350px;*/
		margin: 0 0px 20px 0;
	}
	#shop .product-image {
		height: auto!important;
		/*padding-bottom: 35px;*/
	}
	.single-product .product-price span {
		float:right;
	}
}

@media screen and (max-width: 768px) {
	#header {
		position: fixed;
		top: 0;
		height: 42px;
		width: 100%;
		border-bottom: 1px solid #E6E4E4;
	}
	#ProductDetailsForm .quantity {
		margin-right: 5px;
	}
	.product-last {
		float: none!important;
		margin-left: auto!important;
		margin-right: auto!important;
		clear: both;
	}


}
@media screen and (max-width: 767px) {
	body {
		overflow-x: hidden;
	}
	ul.tab_nav_mb.tab-nav:not(.tab-nav-lg) {
		left: 10px;
		height: auto;
		z-index: 1;
		background-color: #fff;
		position: absolute;
		padding: 10px 5px;
		box-shadow: 0 0 5px #000;
		display: none;
	}
	ul.tab_nav_mb.tab-nav:not(.tab-nav-lg) li {
		display: block;
		text-align: left;
		height: auto;
	}
	ul.tab_nav_mb.tab-nav:not(.tab-nav-lg) li a { 
		height: auto;
		color: #adadad;
	}
	ul.tab_nav_mb.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
		background-color: transparent;
		/*color: #d603a1;*/
	}
	.index_group_title {
		background: #d603a1;
		height: 44px;
		margin-left: -5px;
		margin-right: -5px;
	}
	.index_group_btn:hover {
		color: #fff;
	}
	.index_group_btn {
		border: none;
		height: 38px;
		margin: 3px;
		display: block;
		color: #fff;
		line-height: 38px;
		font-size: 18px;
		padding-left: 10px;
	}
	#top-cart a span.top_cart_qty {
		left: 20px;
	}
	#top-cart a,
	#top-cart a img {
		width: 40px;
		height: auto;
	}
	#slider {
		margin-top: 45px;
	}
	.promo-full {
		padding: 25px 0!important;
		margin-bottom: 30px!important;
	}
	.feature-box.fbox-center .fbox-icon {
		margin-bottom: 15px;
	}
	.feature-box.media-box {
		text-align: center;
	}
	.feature-box h3 {
		font-size: 15px;
	}
	#menu-toggle {
		font-size: 20px;
top: 0;
	}
	.stretched #wrapper {
		margin-top: 0;
	}
	#top_link_trigger {
		/*right: -25px;*/
		top: 6px;
		font-size: 22px;
	}
	#top-cart {
		top: -33px;
		/* margin-top: 20px; */
		display: block!important;
		right: 12px;
	}
	#top-cart > a > span {
		top: -5px;
		right: 0px;
		left: auto;
		font-size: 14px;
	}
	.product_wrapper {
		overflow: visible;
	}
	.cart_btn_group {
		margin-top: 0!important;
	}
	.cart_update_btn {
		font-size: 20px;
		margin-bottom: 15px!important;
		width: 100%;
		font-weight: 300;
		background: #222;
	}
	.cart_checkout_btn {
		width: 100%;
		margin: 0;
		font-size: 20px;
		font-weight: 300;
	}
	td.cart-product-name,
	td.cart-product-price,
	td.cart-product-quantity {
		display:inline-block;
		width: 100%;
		font-size: 15px;
		text-align: left!important;
	}
	td.cart-product-name a {
		font-size: 16px;
	}
	.cart-product-subtotal,
	th.cart-product-quantity,
	th.cart-product-price {
		display: none;
	}
	.cart-product-thumbnail {

	}
	.cart-product-thumbnail a,
	.cart-product-thumbnail img {
		width: 150px;
	}
	.cart-product-remove {
		text-align: center;
	}
	.cart td {
		padding: 12px 10px !important;
	}
	.cart_bottom td {
		padding: 5px 10px!important;
	}
	.cart_bottom h4 {
		font-weight: 300;
		font-size: 20px;
	}
	.cart_bottom span {
		font-size: 22px;
	}
	.table-responsive {
		margin-bottom: 45px;
	}
	.table.cart .quantity .qty {
		height: 35px;
		width: 35px;
		line-height: 35px;
	}
	table.cart td {
		border-top: none!important;
	}
	.cart_item {
		border-bottom: 1px dashed #dcdcdc;
	}
	.cart .cart-product-price {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
	}
	.portfolio-desc h3 {
		font-size: 18px;
	}
	.portfolio-desc span {
		font-size: 14px;
	}
	#header .container {
		height: 40px;
	}
	.product-price {
		font-size: 15px;
		margin-top: 10px;
	}

	.container {
		width: 98%!important;
		padding-left: 1%;
		padding-right: 1%;
	}
	#shop.product-3 {
		margin-left: 0!important;
		margin-right: 0!important;
		width: 100%;
	}
	#page-title {
		margin-top: 42px;
	}
	#shop:not(.product-1) .product-title {
		margin-bottom: 0px;
	}
	#shop:not(.product-1) .product-title h3,
	#shop:not(.product-1) .product-price del,
	#shop:not(.product-1) .product-price ins,
	.product:not(.product-2):not(.product-3) .product-title h3,
	.best_seller .product-price ins, 
	.best_seller .product-price del {
		font-size: 14px;
	}
	#shop:not(.product-1) .product-price del,
	#shop:not(.product-1) .product-price ins,
	.product:not(.product-2):not(.product-3) .product-title h3,
	.best_seller .product-price ins, 
	.best_seller .product-price del,
	.hot_product .product-price del,
	.hot_product .product-price ins {
		float:none;
	}
	#top-cart .top-cart-content {
		top: 40px;
		right: -25px;
	}
	.pagination > .active > a {
		z-index: 0;
	}
	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li,
	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li img {
		height: auto!important;
	}
	#footer .footer-widgets-wrap {
		padding: 30px 0;
	}
	.prefooter_one {
		border-bottom: 1px solid;
	}
	.footer-widgets-wrap {
		text-align: center;
	}
	.footer-widgets-wrap .entry-meta li {
		float: none;
	}
	.subscribe-widget {
		margin-top: 30px;
	}
	.prefooter-socials {
		padding-left: 0;
		text-align: left;
	}
	#product-related-products div.product-image {
		padding-bottom: 44px;
	}
	#product-related-products .product-overlay {
		line-height: 44px;
		height: 44px;
	}
	.filter_collection_sm {
		margin-top: -20px;
		margin-bottom: 10px;
	}
	.filter_collection_sm .panel-heading {

		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.filter_collection_sm .panel-heading h4 {
		font-weight: 400;
		font-size: 17px;
	}
	.filter_group .widget_links ul label {
		font-size: 14px;
	}
	.sort-wrapper .browse-tags {
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.sort-wrapper .browse-tags .col-xs-4 {
	}
	.sort-wrapper .browse-tags .col-xs-7 {
		padding-right: 0;
	}
	.top-links {
		top: 42px;
	}
	.filter_group .panel-default {
		padding-bottom: 0;
	}
	.filter_group .widget_links {
		padding-left: 0;
		padding-right: 0;
	}
	.filter_group .widget_links h4 {
		font-size: 14px;
		font-weight: 400;
	}
	.filter_group .widget_links input[type="checkbox"] {
		width: 16px;
		height: 16px;
	}
	#filter_group_sm .list-group-item {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.input-group .form-control {
		z-index: 1;
	}
	.page_title h1 {
		font-size: 20px;
	}
	.single-product .product-price {
		float: none;
		font-size: 25px;
		/*text-align: center;*/
	}
	.single-product .product-price span {
		line-height: 33px;
		font-size: 14px;
	}
	.add-to-cart, .call_btn {padding: 0 15px 10px 15px}
	.product-page-options .sizePicker {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.product-page-options .options-title {
		height: 30px;
		line-height: 30px;
		width: 41.66666667%;
		float: left;
	}
	.product-page-options .options-selection {
		width: 58.33333333%;
		float:left;
	}
	#ProductDetailsForm .quantity {
		margin-right: 25px;
	}
	.panel-body {
		padding-left: 0;
		padding-right: 0;
	}
	.best_seller_product {
		border: none;
	}
	.best_seller {
		border: 1px solid #ececec;
	}
	.best_seller_right {
		/*margin-top: 30px;*/
	}
	.best_seller_right .product-page-options label {
		margin-right: 0;
	}
	.best_seller #ProductDetailsForm .quantity {
		padding: 0 0 20px 0;
		margin-right: 0;
	}
	.btn_wrapper {
		display: inline;
	}
	.best_seller_right .product-title h3 a {
		font-size: 25px;
	}
	.best_seller_right .product-price del,
	.best_seller_right .product-price ins {
		font-size: 23px;
	}
	.best_seller_right .product-price {
		padding-top: 25px;
		height: auto;
		line-height: 30px;
		padding-bottom: 15px;
	}
	.product-image {
		height: auto;
		padding-bottom: 10px;
	}
	.get_in_touch	.fancy-title {
		text-align: center;
	}
	.get_in_touch p {
		text-align: center;
	}
	#page-title span {
		margin-top: 0;
	}
	.search_content {
		display: block;
	}
	.search_form_wrapper  {
		background: #fff;
		border: none;
		top: 0;
		padding: 0;
		margin-bottom: 25px;
	}
	.search_trigger {
		background: #0098bb;
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		padding: 0 10px;
		margin-bottom: 10px;
	}
	.search_trigger i {
		float: right;
		line-height: 25px;
	}
	.search_index {
		display:none;
	}
	.see_more {
		color: #fff;
		top: -32px;
		right: 10px;
	}
	.description_tab {
		background: #d603a1;
	}
	.pd_service_item {
		width:50%;
	}
	.pd_service > p:first-child {
		display:block;
		width:100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.sale-flash {
		top: 10px;
		padding: 2px 15px;
	}

	.table-responsive > .table > tbody > tr > td {
		white-space:normal;
	}

	/**setting 2 pro per col **/
	.product_single {
		padding-left: 5px;
		padding-right: 5px;
	}
	.postcontent #shop.product-3 .product,
	.index_group .product,
	.best_seller_product .product {
		/*width: 49%!important;
		height: auto;
		padding-left: 0;
		padding-right: 0;*/
		margin-bottom: 20px;
	}
	.postcontent #shop.product-3 .product:not(.product-last),
	.index_group .product:not(.product-last) {
	}
	.postcontent #shop.product-3 .product .product-image,
	.index_group .product-image,
	.best_seller .product-image {
		height: auto!important;
	}
	.product .product-overlay {
		height: 35px;
		line-height: 35px;
	}
	.product-overlay,
	.product-overlay a i,
	.product-overlay a span {
		text-transform: uppercase;
		font-size: 13px;
	}
	.product-image > a {
		height: auto;
	}
	.index_group .product_single:last-child {
		float: none;
		margin-left: auto;
		margin-right: auto!important;
	}
	/** end setting 2 pro per col **/
}
@media (max-width: 479px) {
	.sort-wrapper, #grid_pagination {
		margin-left: -5px;
		margin-right: -5px;
	}
	.product .product-desc .product-title {
		height: 40px;
	}
	.product-price {
		margin-top: 5px;
	}
}
#departure a {
	position: relative;
	padding-right: 7px;
}
#departure a:not(:last-child):after {
	position: absolute;
	content: ',';
	bottom: -7px;
	right: 0px;
	font-size: 20px;
}
/*** end egany custom ***/

@media (max-width:767px){
#header, #header-wrap, #header.sticky-style-2, #header.sticky-style-3, #header.sticky-style-2 #header-wrap, #header.sticky-style-3 #header-wrap {
    height: 60px;
}
#logo img {
    height: 60px;
    width: initial;
}
}











