<footer  class="footer-copyright">
    <div class="container">
        <div class="footer-content">
            <div class="row">

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <div class="footer-logo">
                            <a href="/">
                                tour<span>Nest</span>
                            </a>
                            <p>
                                Đồng hành cùng bạn
                            </p>
                        </div>
                    </div><!--/.single-footer-item-->
                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>link</h2>
                        <div class="single-footer-txt">
                            <p><a href="/">home</a></p>
                            <p><a href="/">Hình Ảnh</a></p>
                            <p><a href="/">Ẩm thực</a></p>
                            <p><a href="/">tin tức</a></p>
                            <p><a href="/">Liên Lạc</a></p>
                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->

                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>Hình ảnh</h2>
                        <div class="single-footer-txt">
                            <p><a href="/vn">việt nam</a></p>
                            <p><a href="/">nhật bản</a></p>
                            <p><a href="/">trung quốc</a></p>
                            <p><a href="/">australia (Úc)</a></p>
                            <p><a href="/">Hàn Quốc</a></p>
                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->
                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item text-center">
                        <h2 class="text-left">Liên hệ với chúng tôi</h2>
                        <div class="single-footer-txt text-left">
                            <p>070319xxxx</p>
                            <p class="foot-email"><a href="#">tourNest@notExist.com</a></p>
                            <p>Trái Đất</p>
                            <p>Thiên hà Milky Way</p>
                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->
                </div><!--/.col-->

            </div><!--/.row-->

        </div><!--/.footer-content-->
        <hr>
        <div class="foot-icons ">
            <ul class="footer-social-links list-inline list-unstyled">
                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>&copy; 8/2020 . All Right Reserved</p>

        </div><!--/.foot-icons-->
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div><!--/.scroll-Top-->
    </div><!-- /.container-->

</footer><!-- /.footer-copyright-->